.navbar{
    background: #00e1ff;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top:0;
    z-index: 999;
}
.navbar_container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index:1;
    width:100%;
    max-width: 1300px;
    margin:0 auto;
    padding: 0 50px;

}

.navbar_menu{
    display: flex;
    align-items: center;
    list-style: none;


}
.navbar__item{
    height: 80px;

}
.navbar_links{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    height: 100%;
    transition: all .3s ease;
}

.navbar__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;


}
.navbar_links:hover{
    color: #ffffff;
    transition: all .4s ease;

}
.highlight{
    border-bottom: 1rem solid #00e1ff;
    

}
@media screen and (max-width:1100px){
    .navbar_container{
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1100px;
        padding: 0;
    }
    .navbar_links{
        justify-content: center;
        align-items: center;

    }
    .navbar_menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all .3s ease;
        z-index: -1;
        justify-content: center;
        align-items: center;


    }
    .navbar_menu.active{
        background: #0080a0;
        top:100%;
        opacity: 1;
        transition: all .5s ease;
        z-index: 99;
        height: 60vh;
        font: 1.6rem;
        justify-content: center;
        align-items: center;


    }
    .navbar__item{
        width: 100%;
        justify-content: center;
        align-items: center;

    }
    .navbar_links{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
        justify-content: center;
        align-items: center;


    }


    /* handling classes and formatting JS inclusions */
    #mobile-menu{
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);

    }
    .navbar_toggle .bar{
        width: 25px;
        height:3px;
        margin: 5px auto;
        transition: all .3s ease-in-out;
        display: block;
        cursor: pointer;
        background: #fff;
    }
    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;

    }
    #mobile-menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);

    }
    #mobile-menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
        

    }
}

.head-page h1, h3{
    text-align: center;

}
h1{
    text-align: center;

}


.card {
justify-content: center;
text-align: center;
padding: 5px;
border-radius: 1rem;
border-color: rgb(33, 36, 35);
width: 300px;
height: 450px;
background: rgb(176, 176, 224);
transition: 1s ease-in-out;
}

.card p{
    display: none;
    color: rgb(176, 176, 224);
}
.card:hover p{
    transition: 1s ;
    color: black;
    display:contents;
}
.card i{
    font-size: 10rem;
}
.card:hover i{
   font-size: xx-small;
   display:none ;
}
.card:hover{
    transition: 1s ease-in-out;
    scale: 1.05;
}

.card_container{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr  1fr 1fr;
    transition: 1s;
}


@media screen and (max-width:1300px){
    .card_container{
        grid-template-columns: 1fr 1fr;
        margin: auto;
        width: 50%;
        padding: 10px;
    }
    .card{
        justify-content: center;
        align-items: center;
        margin:1rem;
    }
}
@media screen and (max-width:750px){
    .card_container{
        grid-template-columns:1fr;
        margin: auto;
        width: 50%;
        padding: 10px;
    }
    .card{
        justify-content: center;
        align-items: center;
        margin:1rem;
    }
}