.center{
    text-align: center;
    justify-self: center;
    justify-content: center;
 align-items: center;
}
.radioButton{
    display: flex;
    width: 300px;
    border-radius: 6px;
    border-color: black;
    border-style: double;
    margin-left: auto;
    margin-right: auto
}

.RBItem{
    align-items: center;
    text-align: center;
    justify-self: center;
    justify-content: center;
    padding: 10px;
}
.choosingACamp{
    border-radius: 6px;
    border-color: black;
    border-style: double;
   width: fit-content;
   text-align: center;
   height: fit-content;
   margin-left: auto;
   margin-right: auto;
   padding-left: 100px;
   padding-right: 100px;
   padding-bottom: 10px;
   align-items: center;
   justify-self: center;
   justify-content: center;
   
}
.Details{
    font-size: smaller;
    padding: 0;
    text-align: center;
}
.Price{
    text-align: center;
}
.inputDates{
    text-align: center;
}
.eventCard{
    width: 200px;
    background-color: rgb(219, 228, 225);
    margin: 10px;
    transition: all 1s ease;
    border-radius: 6px;
}
.eventCardHolder{
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    text-align: center;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.EventCardImg{
    width: 190px;
    height: 110px;
    transition: .8s all ease-in-out;
}
.eventCard:hover{
    width: 310px;
}
.EventCardImg:hover{
    width: 300px;
    height: 200px;
    transition: .8s all ease-in-out;
}


